//Variables de la grilla
	$grupo--max-width : 1100px;
	$caja--separacion : 30px;
	$breakpoints: (
			movil  : 480px,
			tablet : 768px,
			web    : 1025px,
			hd     : 1400px
			);
	$fracciones: (
			tercios : 3,
			sextos  : 6,
			octavos : 8
			);

// Componentes de la grilla
	@import "grilla/nucleo";      // Núcleo de ED GRID, grupos y cajas
	@import "grilla/mixins";      // Mixins ED GRID
	@import "grilla/visibilidad"; // Controlar la visibilidad
	@import "grilla/utilidades";  // Utilidades adicionales