doctype html
html(lang="es")
	head
		title Google Desing
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet", href="assets/css/estilos.css")
		script(src="https://use.fontawesome.com/9470d83244.js")
	body
		header#header
			.grupo
				.caja
					.header-main
						.header-main-menu
							a.header-main__menu(href="#")
								i.fa.fa-bars(aria-hidden="true")

						.header-main-banner
							img(src="assets/img/Google_2015_logo.svg.png", alt="logo_google" class="header-main-banner__logo")
							span.header-main-banner__title Desing

						.header-main-search
							a.header-main__search(href="#")
								i.fa.fa-search(aria-hidden="true")
		section#podcast
			.grupo
				.caja
					.section-podcast
						.section-podcast__banner
							img(src="assets/img/podcast.png", alt="banner_podcast" class="section-podcast__banner section-podcast__banner__img")
						h1.section-podcast__title Method Podcast, Episode 1
						p.section-podcast__paragraph Prototyping, tools, and designer who code: A conversation with Jay Wong of Project Fi
						p.section-podcast__article Hosted by Interaction Designer Aidan Simpson, the Method podcast profiles designers at Google, giving listeners an inside look at their journeys and desing choices. In ...
						span.section-podcast__note Profile
		div.divider
			.grupo
				.caja
					.modulo-divider
						hr.modulo-divider__hr
		section#publications
			.grupo
				.caja
					.section-publications
						.section-publications-header
							h2.section-publications-header__title Newsfeed
							a.section-publications-header__link(href="#") More News
				.caja
					.section-publications
						.section-publications-article1
							span.section-publications-article1__date 06/13/2017
							h2.section-publications-article1__title A new and improved Google Design
							img.section-publications-article1__img(src="assets/img/newDesing.jpg")
							p.section-publications-article1__paragraph We've got a fresh, new look! Now it's easier than ever to find the articles, news, and tools you love right from...
				.caja
					.section-publications
						.section-publications-article2
							span.section-publications-article2__date 06/15/2017
							h2.section-publications-article2__title Join the Material Gallery Early Adopter Program
							p.section-publications-article2__paragraph Like staying ahead of the curve when it comes to design collaboration app that makes it...
						.section-publications-article3
							span.section-publications-article3__date 06/15/2017
							h2.section-publications-article3__title Google Design Medium Round-Up
							p.section-publications-article3__paragraph Check out handful of our latest and greatest Medium articles: Learn how Google redesigned over 2,000 emoji to... 
						.section-publications-article4
							span.section-publications-article4__date 05/10/2017
							h2.section-publications-article4__title Material Components for Android, Ios, and the Web
							p.section-publications-article4__paragraph Making Material just got easier. The new Material Components site features a library of components and expanded...
						.section-publications-newsletter
							img.section-publications-newsletter__img(src="assets/img/gdlogo.png")
							p.section-publications-newsletter__paragraph Want to stay up to date with Google Design?
							a.section-publications-newsletter__link(href="#") Sign up for our Newsletter
		div.divider
			.grupo
				.caja
					.modulo-divider
						hr.modulo-divider__hr
		section#library
			.grupo
				.caja
					.section-library-publish1
						img.section-library-publish1__img(src="assets/img/publish1.jpg")
						h2.section-library-publish1__title Connectivity, Culture, and Credit
						p.section-library-publish1__paragraph Nine ways designers can be more empathic and effective when creating products for emerging markets
						a.section-library-publish1__link(href="#") Guide
				.caja
					.section-library-publish2
						img.section-library-publish2__img(src="assets/img/publish2.png")
						h2.section-library-publish2__title I/O 2017 Design Coverage
						p.section-library-publish2__paragraph Get the most out of #io17 with our guide to designer-focused events and talks
						.section-library-publish2__link
							img.section-library-publish2__link__icon(src="assets/img/icon-redirection.png")
							a.section-library-publish2__link__adrress(href="#") medium.com
				.caja
					.section-library-publish3
						img.section-library-publish3__img(src="assets/img/publish3.jpg")
						h2.section-library-publish3__title Building Better Design Culture
						p.section-library-publish3__paragraph A conversation with Google's Mike Buzzard on creativity, career advancement, and criteria for success
						a.section-library-publish2__link(href="#") Editorial
				.caja
					.section-library-publish4
						img.section-library-publish4__img(src="assets/img/publish4.jpg")
						h2.section-library-publish4__title Seoul: Printed Matter, Politics, and Performance
						p.section-library-publish4__paragraph Four studios talk about the current design scene inn South Korea's capital
						.section-library-publish4__link
							img.section-library-publish4__link__icon(src="assets/img/icon-redirection.png")
							a.section-library-publish4__link__adrress(href="#") medium.com
				.caja
					.modulo-divider
						hr.modulo-divider__hr
					.section-library-article
						p.section-library-article__paragraph We were deeply inspired by the mathematical forms that exist in nature. The logo's underlying structure &#8212;six circumscribed and rotated tracings of the golden mean &#8212;was inspired byy the natural geometry found in everything from butterfly flight patterns and sunflowers, to the arrangement of leaves, plant stems, and tree branches.
						.section-library-article__writer
							img.section-library-article__writer__photo(src="assets/img/conor-o-sullivan.png")
							span.section-library-article__writer__position Joshua To Speaking Volumes	

				.caja
					.section-library-publish5
						img.section-library-publish5__img(src="assets/img/publish5.jpg")
						h2.section-library-publish5__title Asana: Productivity with Personality
						p.section-library-publish5__paragraph Making to-dos more doable with color and character
						a.section-library-publish5__link(href="#") Case Study




		script(src="http://code.jquery.com/jquery-1.11.2.min.js" charset="utf-8")
	