.section-podcast {
	padding-bottom: 6em;

	&__title {
		color: $color__primary;		
	}

	&__paragraph {
		font-weight: 700;		
	}

	&__note {
		font-family:$span--font-family;
		font-size: $h5--font-size;

	}
}



