.section-podcast {
	color:$color__primary--light;
	padding-bottom: 6em;
}


.section-podcast__title{
	color: $color__primary;
	
}


.section-podcast__paragraph {
	font-weight: 700;	
}


.section-podcast__note {
	font-family: 'Roboto Mono', monospace;
	font-size: $h5--font-size;
}

